body{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
   
}
.container{
 width: 600px;
  height: 400px;
  background: #e6e6e6;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 10px 5px;
  border-radius: 5px;
}
.col .col-md-12 .avatar{

    background-color:rgb(241, 231, 86);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.col .col-md-12{
    text-align: center;
    background: var(--bs-secondary);
    color:rgb(241, 230, 69) solid;
    font-size: 700;
    font-family:Verdana, sans-serif;
}
.col .table{
    margin-left: 8%;
    font-family:Verdana, sans-serif;
    font-style: oblique;
    font-size: 16px;
    font-weight: 600;
    

}

.col .table .form-control1{
    margin-left: 5px;
    padding: 0;
    border: none;
    border: 1px solid #000000;
    outline: none;
    text-align:center;
    align-items: center;
    height: 20px;
    border-radius: 3px;
    font-size: 14px;

}
.col .table .form-control{
    margin-left: 5px;
    padding: 0;
    width: 300px;
    border: none;
    border: 1px solid #000000;
    outline: none;
    text-align:center;
    align-items: center;
    height: 20px;
    border-radius: 3px;
    font-size: 14px;
}
.col .table .form-control2{
    margin-left: 65px;
    padding: 0;
    width: 300px;
    border: none;
    border: 1px solid #000000;
    outline: none;
    text-align:center;
    align-items: center;
    height: 20px;
    border-radius: 3px;
    font-size: 14px;
}
.row-botones{
    
    margin-top: 20px;
    left:20px;
    margin-left: 10%;

}
.row-botones .btn{
    width: 80px;
    height: 30px;
   margin: 0 30px 0 30px;
   background-color:rgb(104, 102, 102);
   color: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 3px;
}
.row-botones .btn1{
    width: 80px;
    height: 30px;
    top:105px;
    background-color:rgb(185, 7, 162);
    color:floralwhite;
    position:absolute;
    font-size: 15px;
    left:420px;  
    border-radius: 3px;
}

